<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Management</title>
    <link rel="stylesheet" href="addReceipe.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="index.html"><img src="makeedible-high-resolution-logo-black-transparent.png" alt="makeEdible! Logo"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="getstarted.html">Recipes</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="./user.html">Profile</a></li>
                    <li><a href="index.html">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>Recipe Management</h1>
        <div class="form-container">
            <h2>Add New Recipe</h2>
            <form id="recipe-form"  onsubmit="uploadRecipes(event)">
                <input type="text" id="recipesName" placeholder="Recipe Name" required>
                <input type="text" id="cuisine" placeholder="Cuisine" required>
                
                <div>
                    <label for="veg">Vegetarian:</label>
                    <input type="checkbox" id="veg">
                </div>
                
                <input type="text" id="recipesType" placeholder="Recipe Type (e.g., Dessert, Main Course)" required>
                <input type="text" id="cookingTime" placeholder="Cooking Time" required>
                
                <textarea id="ingredients" placeholder="Ingredients" required></textarea>
                <textarea id="method" placeholder="Method" required></textarea>
                
                <input type="file" id="image" accept="image/*"  name="img">
             

                
                <button type="submit">Add Recipe</button>
            </form>
        </div>
        <div class="recipes-container">
            <h2>All Recipes</h2>
            <div id="recipes"></div>
        </div>
    </div>
    <script src="/recipeForm.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     
</body>
</html>


