<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>makeEdible!</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="makeedible-high-resolution-logo-black-transparent.png" alt="makeEdible! Logo">
                <!-- <h1>makeEdible!</h1> -->
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="getstarted.html">Recipes</a></li>
                    <!-- <li><a href="admin.html">Admin</a></li> -->
                    <li><a href="#">About</a></li>
                    <!-- <li><a href="login.html" class="btn">Login</a></li>
                    <li><a href="register.html" class="btn">Register</a></li> -->
                </ul>
            </nav>
        </div>
    </header>
    <section class="hero">
        <div class="container">
            <h2>Welcome to makeEdible!</h2>
            <p>Your ultimate platform to discover, manage, and share delicious recipes.</p>
            <a href="login.html" class="btn">Get Started</a>
        </div>
    </section>
    <section class="featured-recipes">
        <div class="container">
            <h2>Featured Recipes</h2>
            <div class="recipes">
                <div class="recipe">
                    <img src="./1200-by-1200-images-2.jpg" alt="Recipe 1">
                    <h3>Chicken Tandoor</h3>
                </div>
                <div class="recipe">
                    <img src="./8not7df_gulab-jamun_625x300_05_February_24.webp" alt="Recipe 2">
                    <h3>Kesar Gulab Jamun</h3>
                </div>
                <div class="recipe">
                    <img src="./Shahi Paneer and Vegetable Dum Biryani.JPG" alt="Recipe 3">
                    <h3>Dum Biryani</h3>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; 2024 makeEdible! All rights reserved.</p>
        </div>
    </footer>
    <script src="/public/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>
